@model NewRefApp.Models.User

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model?.FullName</h1>

    @if (Model != null)
    {
        <p>Phone: @Model.PhoneNumber</p>
        <p>Balance: ₹@(ViewBag.Balance >= 0 ? ViewBag.Balance.ToString("F2") : "0.00")</p>
        <p>Referral Code: @Model.ReferralCode</p>
        @*  <p>Joined On: @Model.CreatedAt.ToString("MMMM dd, yyyy")</p> *@
        <p class="d-flex gap-4 justify-content-center">Share Code: <span id="currentUrl"></span><i class="fas fa-copy copy-icon" id="copyBtn" title="Copy URL"></i></p>
        <div class="copied-message" id="copiedMsg" style="display:none;">Copied!</div>

        <script>
            // Get current URL and set to div
            var referralCode = "@Model.ReferralCode";
            const currentUrl = window.location.host;
            var crcUrl = currentUrl + "/User/register?refCode=" + referralCode;
            document.getElementById('currentUrl').innerHTML = crcUrl;

            // Copy to clipboard on icon click
            document.getElementById('copyBtn').addEventListener('click', () => {
                navigator.clipboard.writeText(crcUrl).then(() => {
                    const msg = document.getElementById('copiedMsg');
                    msg.style.display = 'block';
                    setTimeout(() => {
                        msg.style.display = 'none';
                    }, 2000);
                });
            });
        </script>
    }
    else
    {
        <p>Please <a href="/User/login">log in</a> to see your details.</p>
    }

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

