html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.error {
    color: red;
    font-size: 0.9em;
    display: none;
}

.is-invalid {
    border-color: red;
}
.cursor-pointer{
    cursor:pointer;
}
.ajs-success {
    color:#fff;
}
.copy-icon {
    cursor: pointer;
    color: #333;
    margin-left: 10px;
}

    .copy-icon:hover {
        color: #007BFF;
    }

.copied-message {
    color: green;
    font-size: 0.9rem;
    margin-top: 5px;
}