@{
    var isLoggedIn = ViewBag.IsLoggedIn as bool? ?? false;
    var phoneNumber = ViewBag.PhoneNumber as string;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewRefApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NewRefApp.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
</head>
<body>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <div class="modal fade" id="loaderModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content text-center py-4 bg-transparent" style="border:none;">
                    <div class="modal-body">
                        <div class="spinner-border text-primary text-white" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Nav -->
    <div class="footer-nav">
        <a href="/">
            <i class="fa-solid fa-house"></i>
            Home
        </a>
        <a asp-controller="home" asp-action="invite">
            <i class="fa-solid fa-share-nodes"></i>
            Share
        </a>
        <a asp-controller="home" asp-action="InvestmentPlans">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Plans
        </a>
        <a asp-controller="home" asp-action="TeamMembers">
            <i class="fa-solid fa-users"></i>
            Team
        </a>
        <a asp-controller="home" asp-action="account">
            <i class="fa-solid fa-user-lock"></i>
            My
        </a>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            function getCookie(name) {
                const value = `; ${document.cookie}`;
                const parts = value.split(`; ${name}=`);
                if (parts.length === 2) return parts.pop().split(';').shift();
                return null;
            }

            // if (getCookie("rareentUser")) {
            //     $("#register").hide();
            //     $("#login").hide();
            // }

            // Logout click handler
            $("#logout").click(function (e) {
                e.preventDefault();

                // Remove 'rareentAdmin' from sessionStorage
                sessionStorage.removeItem("rareentUser");

                // Remove the 'rareentAdmin' and 'findUser' cookies


                // Send a POST request to the /admin/api/Logout endpoint to handle server-side logout
                $.post("/Home/Logout", function (response) {
                    // Check if the response indicates success
                    if (response.success) {
                        // Redirect to the login page after a successful logout
                        document.cookie = "rareentUser=; path=/; expires=Thu, 01 Jan 1970 00:00:00 UTC;";
                        document.cookie = "findUser=; path=/; expires=Thu, 01 Jan 1970 00:00:00 UTC;";
                        window.location.href = "/User/Login";
                    } else {
                        // Handle failure if any
                        console.error("Logout failed", response);
                        alert("Logout failed. Please try again.");
                    }
                }).fail(function (err) {
                    // Handle any errors during the logout process
                    console.error("Logout failed", err);
                    alert("Logout failed. Please try again.");
                });
            });



            const successMessage = '@TempData["SuccessMessage"]';
            const errorMessage = '@TempData["ErrorMessage"]';
            if (successMessage) {
                alertify.set('notifier', 'position', 'top-right');
                alertify.success(successMessage);
            }
            if (errorMessage) {
                alertify.set('notifier', 'position', 'top-right');
                alertify.error(successMessage);
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
