@model UpiDetails

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <label asp-for="UpiId" class="control-label"></label>
        <input asp-for="UpiId" class="form-control" />
        <span asp-validation-for="UpiId" class="text-danger"></span>
    </div>
    @* <div class="form-group">
        <label asp-for="IsAdmin" class="control-label"></label>
        <input asp-for="IsAdmin" class="form-control" />
        <span asp-validation-for="IsAdmin" class="text-danger"></span>
    </div> *@
    <div class="form-group form-check">
        <input asp-for="Status" class="form-check-input" />
        <label asp-for="Status" class="form-check-label"></label>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}